* {
  margin: 0;
  padding: 0;
  font-family: Bebas Neue;
}

body {
  background: #2b3a55;
}

@keyframes example {
  0% {
    background-color: #7f167f;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    border-radius: 20px;
  }
  25% {
    background-color: #460c68;
    left: 200px;
    top: 0px;
    transform: rotate(90deg);
    border-radius: 0px;
  }
  50% {
    background-color: #cb1c8d;
    left: 200px;
    top: 200px;
    transform: rotate(180deg);
    border-radius: 20px;
  }
  75% {
    background-color: #7f167f;
    left: 0px;
    top: 200px;
    transform: rotate(270deg);
    border-radius: 0px;
  }
  100% {
    background-color: #460c68;
    left: 0px;
    top: 0px;
    transform: rotate(360deg);
    border-radius: 20px;
  }
}

@keyframes example2 {
  0% {
    background-color: #7f167f;
    left: 200px;
    top: 0px;
    transform: rotate(0deg);
    border-radius: 20px;
  }
  25% {
    background-color: #460c68;
    left: 0px;
    top: 0px;
    transform: rotate(180deg);
    border-radius: 0px;
  }
  50% {
    background-color: #cb1c8d;
    left: 0px;
    top: 0px;
    transform: rotate(90deg);
    border-radius: 20px;
  }
  75% {
    background-color: #7f167f;
    left: 0px;
    top: 200px;
    transform: rotate(270deg);
    border-radius: 0px;
  }
  100% {
    background-color: #460c68;
    left: 0px;
    top: 0px;
    transform: rotate(360deg);
    border-radius: 20px;
  }
}

@keyframes example-reverse {
  0% {
    background-color: #7f1616;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    border-radius: 30px;
  }
  25% {
    background-color: #250c68;
    left: 200px;
    top: 0px;
    transform: rotate(90deg);
    border-radius: 20px;
  }
  50% {
    background-color: #50023f;
    left: 200px;
    top: 200px;
    transform: rotate(180deg);
    border-radius: 30px;
  }
  75% {
    background-color: #ff0ed7;
    left: 0px;
    top: 200px;
    transform: rotate(270deg);
    border-radius: 20px;
  }
  100% {
    background-color: #280f36;
    left: 0px;
    top: 0px;
    transform: rotate(360deg);
    border-radius: 30px;
  }
}

.element {
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  padding: 10px 10px;
  width: 50px;
  height: 50px;
}

.element2 {
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: reverse;

  width: 30px;
  height: 30px;
}

.element-reverse {
  animation-name: example-reverse;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

  width: 30px;
  height: 30px;
}

.square1 {
  background: #00aa9d;
  border-radius: 30px;
  height: 150px;
  margin: 100px;
  position: absolute;
  transition: transform 0.8s;
  width: 150px;
}

.square2 {
  background: #420308;
  border-radius: 5px;
  height: 150px;
  margin: 100px;
  transition: transform 0.8s;
  position: absolute;
  width: 150px;
}

.square2:hover {
  transform: translate(60px, 20px);
  transform: skewX(-55deg);
  transform: rotate(500deg);
}

.anim1 {
  width: 352px;
  height: 350px;
  background: #ff5fb2;
  overflow: auto;
  resize: both;
}
.element,
.element-reverse {
  text-align: center;
  background-color: #cb1c8d;
  position: absolute;
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.anim1 .element2 {
  width: 30px;
  animation-direction: reverse;
}

.anim1 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-right: 70px;
  font-size: 1.4rem;
}
.anim2 {
  width: 350px;
  height: 350px;
  background: skyblue;
  overflow: auto;
  resize: both;
}
.anim2 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.square1,
.square2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: aquamarine;
  writing-mode: vertical-lr;
  padding-left: 500px;
}
